<br><br><br><br><br><br><br>    
    <div class="container "style="">
        <h2>Login Form</h2>
        <form id="loginForm" [formGroup]="UserlogForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input formControlName="email" type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input formControlName="psw" type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" style="margin-right:10px;" (click)="login()">Login</button>
                <a style="text-decoration: none;" routerLink="/user.register"> account create</a>
            </div>
        </form>
    </div><br><br><br><br><br><br><br><br>