<nav class="navbar navbar-expand-lg " style="background-color:   rgba(137, 43, 226, 0.267);">
  <div class="container" style="background-color: rgba(137, 43, 226, 0);" >
    <a style="text-decoration: none;color: rgb(7, 7, 114);" href=""><h3 style="font-size: x-large; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"> <img style="height: 4rem;width: 5rem;" src="https://i.postimg.cc/gr9BRSt5/4793624.png" alt="">*MoutEvents</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
 
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input [(ngModel)]="searchData" (keyup)="accessData($event)" class="form-control me-2" type="search" placeholder="Search Here..." aria-label="Search" name="searchData">
      </form>


      <!-- <button (click)="cartitems()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">{{count}}</span>

      </button> 
     <button (click)="toWishlist()" type="button" class="btn btn-danger">
        wishlist
        <span class="badge bg-dark text-white ms-1 rounded-pill">$</span>

      </button>  -->
      <div>
        <button (click)="login()" type="button" class="btn btn-success" *ngIf="!isLoggedIn">
          login
          <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>
        <button (click)="logout()" type="button" class="btn btn-danger" *ngIf="isLoggedIn">
          logout
          <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>
      </div>
      
        

        <div class="dropdown">
          <button class="btn btn dropdown-toggle p-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user fa-xl"></i>
          </button>
        
          <!-- Dropdown menu -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        
 

    </div>
  </div>

</nav>

