
.card{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
#_card{ 
    padding:50px 50px;
    background-color:#f6f7f8;
    color: aliceblue;
    background-image: url(https://wallpapercave.com/wp/wp4782986.png);
    /* height: 350px; */

    
  }
 
  
  #_card h2{
    font-weight:700;
    font-size:42px;
    color:#fdf9f9;
    font-family: sans-serif;
  }
  
  #_card .cards{
    margin-top:30px;
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    color: #fcfafa;
  }
  #_card .card1{
    background-color:#fafaf7b6;
    flex-basis:150px;
    transition:all 0.3s ease-in;
    flex-basic:200px;
    flex-grow:1;
    text-align:center;
    padding: 2rem;
    border-radius: 2rem;


    
  }
  #_card .card2{
    background-color:#fcfbf9b6;
    flex-basis:150px;
    transition:all 0.3s ease-in;
    flex-basic:200px;
    flex-grow:1;
    text-align:center;
    padding: 2rem;
    border-radius: 2rem;


  }
  #_card .card3{
    background-color:#fcfcfab6;
    flex-basis:150px;
    transition:all 0.3s ease-in;
    flex-basic:200px;
    flex-grow:1;
    text-align:center;
    padding: 2rem;
    border-radius: 2rem;


  }
  #_card .card img{
    width:190px;
  }
  #_card .card1:hover{
    scale:1.05;
    background-color: #f7f4f4e7;
    border: 2px;
    border: 2px gold solid;

  }
  #_card .card2:hover{
    scale:1.05;
        background-color: #f7f4f4e7;
        border: 2px;
        border: 2px gold solid;


  }
  #_card .card3:hover{
    scale:1.05;
    background-color: #f7f4f4e7;
    border: 2px gold solid;


  }
  #_card .card1 a{
    text-decoration: none;
    color: black;
  }
  #_card .card2 a{
    text-decoration: none;
    color: black;

  }
  #_card .card3 a{
    text-decoration: none;
    color: black;

  }

  @media (max-width: 767px) {
    .ban_text strong {
      font-size: 30px;
    }
  
    .ban_text strong span {
      font-size: 24px;
      letter-spacing: 2px;
    }
  
    .ban_text p {
      font-size: 16px;
    }
  
    .ban_text a {
      font-size: 14px;
      padding: 8px 20px;
    }
  
    .cards-comp .card img {
      height: 8rem;
    }
  
  
  }
  
  /* For screens up to 575px width (e.g., smartphones) */
  @media (max-width: 575px) {
    .ban_text strong {
      font-size: 26px;
      padding: 10px 0;
    }
  
    .ban_text strong span {
      font-size: 20px;
      letter-spacing: 2px;
    }
  
    .ban_text p {
      font-size: 14px;
    }
  
    .ban_text a {
      font-size: 12px;
      padding: 8px 16px;
    }
  
    .btn-more {
      font-size: 12px;
    }
  
    .cards-comp .card img {
      height: 6rem;
    }
  
  
  }
  /* Default styles */
.ban_sec {
  margin-bottom: 1rem;
  padding-top: 0.2rem;
  width: 100%;
}

.ban_img {
  width: 100%;
  position: relative;
}

.ban_img img {
  width: 100%;
  max-height: 400px;
}

.ban_text {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.ban_text strong {
  font: 800 40px/48px "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.ban_text strong span {
  font: 400 28px/34px "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.ban_text p {
  font: 400 20px/24px "Montserrat", sans-serif;
  color: #fff;
  margin: 7px 0 15px;
}

.ban_text a {
  display: inline-block;
  font: 800 16px/20px "Montserrat", sans-serif;
  background: #282828;
  border-radius: 20px;
  color: #fff;
  padding: 10px 24px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.ban_text a:hover {
  background: #50af47;
}
/* comment cards */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  gap: 4em;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem clamp(1rem, 5%, 3rem);
}
.card {
  padding: 3.5em 2em 2em;
  /* width: 300px; */
  background: #fff;
  box-shadow: 5px 7px 17px rgb(0 0 0 / 20%);
  position: relative;

  .rectangle {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translatex(-50%);
    width: 50px;
    background: #e8e8e8;
    height: 10px;
    display: block;
    border-radius: 50px;
  }

  &-content {
    padding-top: 7.2em;

    h2 {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.2em;
      margin-bottom: 0.35em;
      font-weight: 700;
    }

    p {
      font-size: 0.8rem;
      letter-spacing: 0.08em;
    }
  }

  &-img {
    position: relative;
  }

  &-img-overlay {
    position: absolute;
    top: 0;
    height: 100%;

    p {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: grid;
      place-items: center;
      padding: 0.9em;
      text-align: center;
      position: relative;
      top: 100%;
      min-width: 85px;
      min-height: 85px;
      word-wrap: break-word;
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }

  &:nth-child(1) .card-img-overlay {
    @include background-opacity(#056f6a, 0.5);
  }

  &:nth-child(1) .card-img-overlay p {
    @include background-opacity(#056f6a, 1);
  }

  &:nth-child(2) .card-img-overlay {
    @include background-opacity(#b37399, 0.5);
  }

  &:nth-child(2) .card-img-overlay p {
    @include background-opacity(#b37399, 1);
  }
}

/* side scroling card comment */

:root {
  --page-margin: min(2rem, 5vw);
  color: #444;
}

/* section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
  
  & > * {
    grid-column: center;
  }
} */

.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
  
  .card {
    display: grid;
    place-content: center;
    background-color: #fcfbf9;
    color: #fafcfc;
    /* font-size: 1.5rem; */
    height: 20rem;
    min-width: 13rem;
  }
}
/* .about{
  background-color: rgba(0, 0, 255, 0.007);
} */