<section class="ban_sec">
  <div class="container1">
    <div class="ban_img">
      <img src="https://images.pexels.com/photos/6043246/pexels-photo-6043246.jpeg?auto=compress&cs=tinysrgb&w=400"
        alt="banner">
      <div class="ban_text">
        <strong>
          <span>Boost your Moments</span><br> Mount events
        </strong>
        <p>
          expolore your moments colaborate with us its more memmorable for you....
        </p>

        <a href="#">Connect</a>
      </div>
    </div>
  </div>
</section>
<h1 style="text-align: center ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Our Service
</h1>
<!-- different page navigations -->
<div id="_card">
  <div class="heading">
  </div>
  <div class="cards">
    <div class="card1">
      <a href="http://localhost:4200/rooms">
        <h1>Reserve Your Rooms
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sit laborum molestias dolor voluptatibus non
        </p>
      </a>

    </div>
    <!-- <div class="card2">
      <a href="">
        <h1 >Set Your Day
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sit laborum molestias dolor voluptatibus non
         </p>


      </a>

    </div> -->
    <!-- <div class="card3">

      <a href="">
        <h1 >Make Your events
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sit laborum molestias dolor voluptatibus non
          </p>
        </a>
    </div> -->


  </div>
</div>

<!-- hotal roooms cards -->
<!-- ------------------------------------------ -->


<!-- <div class="text-end p-5  ">
        <a style="text-decoration:none ;" routerLink="admin-login">Login as Admin</a>
    </div> -->




<h2
  style="font-size: xx-large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-align: center;">
  Costumer Experience</h2>
<div class="cards-wrapper p-5">

  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">
    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
 <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>arch <br />owl</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div> 
  <div class="card">

    <div class="card-img p-5">
      <img
        src="https://images.unsplash.com/photo-1606002830191-c1b4f20e6cda?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Herse Headman">
      <div class="card-img-overlay" style="color: black;">
        <p>.....<br />....</p>
      </div>
    </div>
    <div class="card-content" style="color: black;">
      <h2>herse headman</h2>
      <p>CO-Founder</p>
    </div>
  </div>





</div>