

  <body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form (ngSubmit)="login()" [formGroup]="AdminLoginform" action="admin_login_process.php" method="post">
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input formControlName="uname"  type="text" id="user_id" name="user_id" required>
                <div *ngIf="this.AdminLoginform.get('uname')?.errors && this.AdminLoginform.get('uname')?.touched">
                  <p class="text-danger" style="text-align: center;">Please enter numbers only</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input formControlName="psw"  type="password" id="password" name="password" required>
                <div *ngIf="this.AdminLoginform.get('psw')?.errors && this.AdminLoginform.get('psw')?.touched">
                  <p class="text-danger" style="text-align: center;">Please enter numbers only</p>
                </div>
            </div>
            <div class="form-group">
                <input (click)="login()"  type="submit" value="Login">
            </div>
        </form>
    </div>
</body>