<body class="single-body">

  <div class="singleview">

  </div>
  <div *ngFor="let item of pdata" class="card mb-3 container singleview" style="max-width: 100%;">
    <div class="row g-0 container">
      <div class="col-md-4 imge ">
        <img src="{{item.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"> Room Type :{{item.Rname}}</h1>
          <h3 style="color: darkgreen;" class="card-title">$ -{{item.price}}</h3>
          <h5 class="card-title">Room Count : {{item.count}}</h5>
          <h5 class="card-title">Discription :{{item.discription}}</h5>
  
  
        </div>
  
        <div class=" p-3 btn-content btn-singleview">
  
          <button id="booknow" class="p-1" (click)="booking()"> BookNOw</button>
  
        </div>
      </div>
    </div>
  </div>

</body>


