<div class="mbody">
  <div class="text-center m-5 p-5 ">
    <h1> Manege Users</h1>
  </div>

  <div>

    <table class="table table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">E-mail</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of users,let j=index">
          <th scope="row">{{j+1}}</th>

          <td>{{i.email}}</td>



          


          <td><button (click)="userDelete(i._id)"
              style="background-color: red; border-radius: 20px;">Delete</button></td>


        </tr>




      </tbody>
    </table>


  </div>