<h1 class="yourbook">Your Bookings</h1>

<!-- ... (other modal content) ... -->

<table class="table table-image">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col">Cancel Room</th>
      <th scope="col">Pay Online</th>
      <th scope="col">Contact</th>
      <th scope="col">Location</th>



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of pdata; let i = index">

      <td class="w-25">
        <img src="{{product.image}} " class="img-fluid img-thumbnail" alt="Product Image">
      </td>
      <td style=" font-family:'Times New Roman', Times, serif ; font-size:x-large;">{{ product.Rname }}</td>
      <td>₹ {{ product.price }}</td>
      <td>
        <!-- <button>-</button> -->
        <!-- {{product.quantity}} -->
        <!-- <button>+</button> -->

      </td>
      <td>
        <button type="button" (click)="removecart(product._id)" class="btn btn-danger btn-sm">
          Cancel
        </button>

      </td>
      <td>
        <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Payment
        </button>

      </td>
      <td>
        <button style="background: none; border: none;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <a href=""><i class="fa-solid fa-phone-volume fa-xl" style="color: #1ce70d;"></i></a>
        </button>
      </td>
      <td>
        <button style="background: none; border: none;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <a href=""><i class="fa-solid fa-location-dot fa-xl" style="color: #065bef;"></i> </a>         </button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" style="background: none;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="background: none; border:none ;">
    <div class="modal-content" style="background: none; border:none ;">
      <div class="modal-header" style="background: none; border:none ;">
        <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Booking Form Preview</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="body" style="background: none; border:none ;">
        <div class="container " style="color: aliceblue;">
          <div>
            <form>
  

              <h2>Payment Information</h2>
              <h3>G-Pay <img style="height: 5rem;width: 5rem;"
                  src="https://i.postimg.cc/KjB23DCz/google-pay-logo-transparent-free-png.webp" alt=""> phone-pay <img
                  style="height: 4rem;width: 5rem;" src="https://i.postimg.cc/8CRXvnzx/Phone-Pe-Logo-wine.png" alt="">
                paytm <img style="height: 2rem;width: 5rem;" src="https://i.postimg.cc/wvcMRNZ9/Paytm-Logo.png" alt="">
              </h3>



              <div class="form-group">
                <label for="credit-card">Credit Card Number:</label>
                <input type="text" id="credit-card" name="credit-card" required>
              </div>
              <div class="form-group">
                <label for="expiration">Expiration Date:</label>
                <input type="text" id="expiration" name="expiration" required>
              </div>
              <div class="form-group">
                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" name="cvv" required>
              </div>

              <h2>Billing Information</h2>
              <div class="form-group">
                <label for="billing-address">Billing Address:</label>
                <input type="text" id="billing-address" name="billing-address">
              </div>
              <button type="button" class="btn btn-success">
                confirm
              </button>


            </form>
          </div>

        </div>




      </div>
    </div>
  </div>
</div>