<body class="">
    <div class="edit" style="color: white;">
        <h2 style="text-align: center; font-size: xx-large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Edit Details</h2>
        <form >
            <div class="form-group">
                <label for="Rname">Product Name</label>
                <input [(ngModel)]="pdata.Rname" type="text" id="Rname" name="Rname">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input [(ngModel)]="pdata.price" type="number" id="price" name="price" >
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input [(ngModel)]="pdata.discription" type="text" id="description" name="description" required>
            </div>
            <!-- <div class="form-group">
                <label for="rating">Location</label>
                <input [(ngModel)]="pdata.rating" type="number" id="rating" name="rating" >
            </div> -->
            <div class="form-group">
                <label for="count">Count</label>
                <input [(ngModel)]="pdata.count" type="number" id="count" name="count" >
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input [(ngModel)]="pdata.image" type="text" id="image" name="image" >
            </div>
            <div class="form-group">
                <button (click)="editProduct()" type="submit">Update Product</button>
            </div>
        </form>
    </div>
</body>
